[Unit]
Description=Fire Alarm MQTT Node
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
# For hardware interrupts
Environment="GPIOZERO_PIN_FACTORY=lgpio"
# The setup script automatically replaces {{PROJECT_ROOT}} with the real path
WorkingDirectory={{PROJECT_ROOT}}/src
ExecStart={{PROJECT_ROOT}}/venv/bin/python -u main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target